<p style="color: green"><%= notice %></p>

<h1>Users</h1>
<%= link_to "New user", new_user_path %>

<table id="users">
 <thead>
  <tr>
    <th>First_name</th>
    <th>Last_name</th>
    <th>Email</th>
  <tr>
 </thead>
 <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= link_to "Show this user", user %></td>
    </tr>
  <% end %>
 </tbody>
</table>